{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin /css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Testemunho Publico</a></h1>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" class="post-form" action="{%url 'consulta:retorno_designacao'%}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Localizar" class="save btn btn-default">
    </form>
</div>
{% if form_retorno %}
{% for retorno in form_retorno %}
<div class="{% cycle 'row1' 'row2' %}">
    <table>
        <tr>
            <td>{{retorno.ano}}</td>
            <td>{{retorno.mes}}</td>
            <td>{{retorno.dia_mes}}</td>
            <td>{{retorno.dia_semana}}</td>
            <td>{{retorno.p1}}</td>
            <td>{{retorno.p1_1}}</td>
            <td>{{retorno.p1_2}}</td>
            <td>{{retorno.p2}}</td>
            <td>{{retorno.p2_1}}</td>
            <td>{{retorno.p2}}</td>
            <td>{{retorno.p3}}</td>
            <td>{{retorno.p3_1}}</td>
            <td>{{retorno.p4}}</td>
            <td>{{retorno.p4_1}}</td>
            <td>{{retorno.p5}}</td>
            <td>{{retorno.p5_1}}</td>
        </tr>
</div>
{%endfor%}
{%endif%}
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <p>campo relacionado</p>
    </div>
</div>
{%endblock%}
