{% extends "admin/base_site.html" %}
{% load i18n static custom_export_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin /css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Testemunho Publico</a></h1>
{% endblock %}


<script type="text/javascript"
        src="{% static 'consulta/js/form.js' %}"
</script>

{% block content %}
<div id="content-main">
    {%if mensagem%}
    {%for m in mensagem.values%}
    <h3>{{m}}</h3>
    {%endfor%}
    {%endif%}

    <form action="{%url 'consulta:scheduler'%}" method="post" class="post_form">
        {%csrf_token%}
        <input type="submit" value="Gravar na AGENDA" class="save btn btn-default">
        {% if form_retorno %}
        {% for retorno in form_retorno %}
        <div class="{% cycle 'row1' 'row2' %}">
            <table>
                <tr>
                    <td>{{retorno.ano}}</td>
                    <td>{{retorno.mes}}</td>
                    <td>{{retorno.dia_mes}}</td>
                    <td>{{retorno.dia_semana}}</td>
                    <td>{{retorno.p1}}</td>
                    <td>{{retorno.p1_1}}</td>
                    <td>{{retorno.p1_2}}</td>
                    <td>{{retorno.p2}}</td>
                    <td>{{retorno.p2_1}}</td>
                    <td>{{retorno.p2}}</td>
                    <td>{{retorno.p3}}</td>
                    <td>{{retorno.p3_1}}</td>
                    <td>{{retorno.p4}}</td>
                    <td>{{retorno.p4_1}}</td>
                    <td>{{retorno.p5}}</td>
                    <td>{{retorno.p5_1}}</td>
                </tr>
                {%endfor%}
                {%endif%}
        </div>
    </form>
</div>
{%endblock%}


