{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin /css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Testemunho Publico</a></h1>
{% endblock %}

{% block content %}
<div id="content-main">
    {%if mensagem%}
    {%for m in mensagem.values%}
    <h3>{{m}}</h3>
    {%endfor%}
    {%endif%}

    <form action="{%url 'consulta:scheduler'%}" method="post" novalidate>
        {%csrf_token%}
        <input type="submit" value="gravar na agenda do celular">
        {% if form_retorno %}
        {% for retorno in form_retorno %}
        <div class="{% cycle 'row1' 'row2' %}">
            <table>
                <tr>
                    <td><input type ="text" class="width-dynamic proba dva" placeholder={{retorno.ano}}></td>
                    <td><input type ="text" value={{retorno.mes}} size="value.length"></td>
                    <td><input type ="text" value={{retorno.dia_mes}}></td>
                    <td><input type ="text" value={{retorno.dia_semana}}></td>
                    <td><input type ="text" value={{retorno.p1}}></td>
                    <td><input type ="text" value={{retorno.p1_1}}></td>
                    <td><input type ="text" value={{retorno.p1_2}}></td>
                    <td><input type ="text" value={{retorno.p2}}></td>
                    <td><input type ="text" value={{retorno.p2_1}}></td>
                    <td><input type ="text" value={{retorno.p2}}></td>
                    <td><input type ="text" value={{retorno.p3}}></td>
                    <td><input type ="text" value={{retorno.p3_1}}></td>
                    <td><input type ="text" value={{retorno.p4}}></td>
                    <td><input type ="text" value={{retorno.p4_1}}></td>
                    <td><input type ="text" value={{retorno.p5}}></td>
                    <td><input type ="text" value={{retorno.p5_1}}></td>

                </tr>
                {%endfor%}
                {%endif%}
        </div>

    </form>
</div>
{%endblock%}